<h1 class="mb-3"><%= action_name == "new" ? "Nova Empresa" : "Editar Empresa" %></h1>
<%= render "form", company: @company %>
<%= link_to "Voltar", companies_path, class: "btn btn-outline-secondary mt-3" %>
